@tailwind base;
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
body {
  font-family: "Dosis", monospace;
  background-color: #fafafa;
}

.react-calendar {
  min-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Dosis", monospace;
}

.react-calendar__navigation {
  background-color: #e7a8b0;
  color: white;
  min-height: 70px;
  line-height: 1.5em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
@tailwind components;

.modal {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@tailwind utilities;
