@tailwind base;
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
body {
  font-family: "Dosis", monospace;
  background-color: #fafafa;
}

@tailwind components;
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
@tailwind utilities;
